
<main class="main">
  <section class="content">
  <table>
    <thead>
      <th>Post ID </th>
      <th>Name</th>
      <th>Email </th>
      <th>Body</th>
    </thead>
    <tbody>
      @if(comments.isLoading()) {
        <tr>
          <td colspan="4">Loading...</td>
        </tr>
      }
      @if(comments.error()) {
        <tr>
          <td colspan="4">Something went wrong</td>
        </tr>
      }
      @for(item of comments.value(); track $index) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name | slice: 0: 20 }}</td>
          <td class="normal">{{ item.email }}</td>
          <td>{{ item.body | slice: 0: 50 }}</td>
        </tr>
      }
    </tbody>
  </table>

  </section>


</main>

<router-outlet />
