/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: light dark;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 

  background-color: light-dark(#fff, #101828);
  transition: background-color 0.2s ease-in-out;
}
